# Wazuh Manager
WAZUH_URL=https://<IP>:55000
WAZUH_USER=wazuh-wui
WAZUH_PASS=WAZUHWUI_PASS
WAZUH_VERIFY_SSL=false

# Ollama AI
OLLAMA_URL=http://<IP>:11434
OLLAMA_MODEL=Model_Name

# Server
HOST=0.0.0.0
PORT=8010
LOG_LEVEL=info
